/* Pseudo Elements */
p {
    padding: 10px;
    line-height: 24px;
}
p::first-line {
    color: red;
}
p::first-letter {
    font-size: 50px;
    padding-left: 20px;
}
/* styles the markers of list items */
::marker {
    color: red
}
/* makes the selected text */
::selection {
    color: black;
    background-color: yellow;
}
.image {
    width: 200px;
    position: relative;
}
/* makes an element before 'em */
.image::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.8;
}
/* makes an element after 'em */
.image::after {
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: rgb(156, 2, 2);
    position: absolute;
}
.image img {
    width: 100%;
}