/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    color: #2d2f31;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.025em;
}

input:focus {
    outline: 0;
}

a ,table td h5 {
    color: #2d2f31;
    cursor: pointer;
}
a:hover{
    color: #5022c3;
}

.reset-hover:hover{
    color: unset;
}

.navbar{
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 70px;
    padding: 0 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    z-index: 999;
}

.menu, .login{
    display: flex;
    align-items: center;
}
.menu div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.login{
    margin-left: 50px;
}

.logo-side img {
    margin-top: 3px;
}
.search-box form{
    position: relative;
    width: calc(60vw - 50px);
    height: 48px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #F7F9FA;
    margin: 5px;
}
.search-box input{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    right: 30px;
    left: 30px;
    border: 0;
    background-color: transparent;
}
.login div button{
    display: flex;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.login div:last-child button , .start{
    background-color: #2D2F31;
    color: #fff ;
}
.login div:first-child button:hover , .btn:hover{
    background-color:rgba(23,57,83,.12);
}
.login div:last-child button:hover, .start:hover{
    background-color:#3e4143;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.header img{
    position: relative;
    z-index: 100;
}

.billboard{
    position: absolute;
    z-index: 101;
    width: 440px;
    height: 160px;
    background-color: #FFFFFF;
    left: 20%;
    top: 15%;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}

.billboard h2{
    font-size: 28px;
    line-height: 72px;
    font-weight: bold;
}
.billboard p{
    font-size: 16px;
    line-height: 24px;
    white-space: 0;
}

.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F8F9FB;
    height: 224px;
    padding-top: 70px;
    width: 100%;
    margin-bottom: 40px;
}

.sponsor span{
    display: block;
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 30px;
}

.items{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15%;
    margin-bottom: 40px;
}

.category h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards div{
    margin: 1.5% 1%;
}
.cards img{
    display: flex;
    margin-bottom: 10px;
    transition: transform 150ms cubic-bezier(0,0,.38,.9);
}

.cards img:hover{
    transform: scale(1.05);
    transition: transform 150ms cubic-bezier(0,0,.38,.9);
}

.cards span{
    font-size: 16px;
    font-weight: bold;
}

.links{
    display: flex;
    flex-direction: column;
    background: #F7F9FA;
    width: 100%;
    height: 500px;
    padding: 70px 15% 0 15%;
    margin-bottom: 100px;
}

.links h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

table td{
    padding-bottom: 30px;
}

table h4{
    font-size: 18px;
    font-weight: bold;
}

table h5{
    color: #5022c3 !important;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
}
table span{
    opacity: 0.8;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border: 1px solid black;
}

.btn span, .start span{
    font-weight: bold;
}

.trailer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.trailer img{
    margin-right: 5%;
}

.text-box{
    max-width: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.text-box p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
    text-align: justify;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    font-size: 16px;
}

.footer{
    width: 100%;
    height: 140px;
    text-align: right;
    padding-top: 80px;
    background-color: #2D2F31;
    color: #fff;
    padding-right: 60px;
}

.dropbox_list{
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 105;
    width: 300px;
    height: 600px;
    top: 75px;
    left: max(5%, 130px);
    background-color: #FFFFFF;
    padding: 5px 30px 0 10px;
    outline: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    transition-duration: 300ms;
}

.dropbox_list div{
    width: 100%;
    margin: 10px;
    margin-bottom: 3px;
}

.dropbox_list a{
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbox_list svg{
    fill: #000;
    scale: 0.5;
    opacity: 0.8;
}