/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    color: #2d2f31;
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.025em;
}

input:focus{
    outline: 0;
}

a {
    color: #2d2f31;
}
a:hover{
    color: #5022c3;
}

.navbar{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 70px;
    padding: 0 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}

.menu, .login{
    display: flex;
    align-items: center;
}
.menu div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.login{
    margin-left: 50px;
}

.logo-side img {
    margin-top: 3px;
}
.search-box form{
    position: relative;
    width: calc(60vw - 50px);
    height: 48px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #F7F9FA;
    margin: 5px;
}
.search-box input{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    right: 30px;
    left: 30px;
    border: 0;
    background-color: transparent;
}
.login div button{
    display: flex;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.login div:last-child button{
    background-color: #2D2F31;
    color: #fff;
}
.login div:first-child button:hover{
    background-color:rgba(23,57,83,.12);
}
.login div:last-child button:hover{
    background-color:#3e4143;
}