/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    color: #2d2f31;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.025em;
}

input:focus{
    outline: 0;
}

a {
    color: #2d2f31;
}
a:hover{
    color: #5022c3;
}

.navbar{
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 70px;
    padding: 0 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    z-index: 999;
}

.menu, .login{
    display: flex;
    align-items: center;
}
.menu div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.login{
    margin-left: 50px;
}

.logo-side img {
    margin-top: 3px;
}
.search-box form{
    position: relative;
    width: calc(60vw - 50px);
    height: 48px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #F7F9FA;
    margin: 5px;
}
.search-box input{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    right: 30px;
    left: 30px;
    border: 0;
    background-color: transparent;
}
.login div button{
    display: flex;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.login div:last-child button{
    background-color: #2D2F31;
    color: #fff;
}
.login div:first-child button:hover{
    background-color:rgba(23,57,83,.12);
}
.login div:last-child button:hover{
    background-color:#3e4143;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.header img{
    position: relative;
    z-index: 100;
}

.billboard{
    position: absolute;
    z-index: 101;
    width: 440px;
    height: 160px;
    background-color: #FFFFFF;
    left: 20%;
    top: 15%;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}

.billboard h2{
    font-size: 28px;
    line-height: 72px;
    font-weight: bold;
}
.billboard p{
    font-size: 16px;
    line-height: 24px;
    white-space: 0;
}

.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F8F9FB;
    height: 224px;
    padding-top: 70px;
    width: 100%;
    margin-bottom: 40px;
}

.sponsor span{
    display: block;
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 30px;
}

.items{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15%;
    margin-bottom: 40px;
}

.category h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards div{
    margin: 1.5% 1%;
}
.cards img{
    display: flex;
    margin-bottom: 10px;
}

.cards img:hover{
    transform: scale(1.05);
    transition: transform 150ms cubic-bezier(0,0,.38,.9);
}

.cards span{
    font-size: 16px;
    font-weight: bold;
}